<h2>Listing horses</h2>

<%= render 'list' %>

<form>
<input type="submit" value="Search">
<input type="text" name="search">Enter characters to search for in a horse name or id:number to search for a horse number.
</form>
<br>
<%= link_to 'New Horse', new_horse_path %>